<form name="emailsEditorForm" class="form-emailsEditor">
    <div class="block-emailsEditor">
        <div class="row-header">
            Share <span>Board name</span> with other
        </div>
        <div class="row-content">
            <md-chips
                    id="{{id}}"
                    ng-model="listEmails"
                    placeholder="Add more emails..."
                    md-add-on-blur="true"
                    md-on-add="changeChips($chip, $index);"
                    md-separator-keys="keys"
            >
            </md-chips>
        </div>
    </div>
</form>
